.page-title {
  margin-bottom: 20px;
}

.table-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.perfume-table {
  width: 100%;
  border-collapse: collapse;
}

.perfume-table th {
  background: #000;
  color: #fff;
  padding: 12px;
  text-align: left;
}

.perfume-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

.table-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.desc {
  max-width: 280px;
}

.edit-btn {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin-right: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  width: 420px;
  padding: 25px;
  border-radius: 10px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.save-btn {
  background: #198754;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.cancel-btn {
  background: #6c757d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}
